{% extends 'blog/base.html' %}

{% load static %}

{% block content %}

	    <article class="about-section py-5">
		    <div class="container">
			    <h2 class="title mb-3">About Me</h2>
			    
			    <p>Hi you, I am Ilqa Nawaz, a professonial software engineer currently working at CureMD Research and Development. I graduated from PUCIT, Punjab University in 2018, got a degree in Bs. Hons. Sofware Engineering. I sarted my first job at CureMD and been working here since then. My professional experience mainly is of Desktop application development.
					I work on a specialized Oncology EMR application. 
				To enhance my skillsets I have started learning web development and for that I have initally started learning Python Django framework.
			This blog website is made using Django framework as well.</p>
			    <figure><img class="img-fluid" src={% static "images/about-me.png" %} alt="image"></figure>
			    <h5 class="mt-5">About The Blog</h5>
			    <p>I love to learn new things and I'm here to share my knowledge and experiences with you all. I will try to get my hands on new technologies and concept every now and then and will be glad to post them here. Hope you enjoy and learn :)</p>
			    <h5 class="mt-5">My Skills and Experiences</h5>
			    <p>The Oncology EMT application I work on is developed in C# using .Net framework. Its UI is designed using Winforms and Devexpress tools. For backend it uses WCF services and WebApis. The ORM used for development is NHibernate and Entity Framewok: Code First approach.
					I have developed expertise in these techs during my tenure at CureMD. 
					Apart from that I have done some projects in Java, C++ and Python as well, using different frameworks of these languages.
				</p>
			    <h5 class="mt-5">Side Projects</h5>
			    <dl>
					<dt>Search Engine (Python)</dt>
  					<dd>- A search Engine made in Python to search and fetch relevant files based on frequency of given search text.</dd>
 					<dt>DOCTOR'S COMPANION (Android app)</dt>
  					<dd>- It is an electronic medical record keeping (EMR) app, along with the capability of setting appointments through mobile and also providing certain features like BMI calculator and Symptom checker.</dd>
					<dt>Club Management System (Java)</dt>
  					<dd>- A club management system providing user as well as admin side for club membership, reservations etc using HTML5, CSS3, JavaScript,session handling, java servlets (Web Engineering).</dd>
 					<dt>News Portal (C#)</dt>
  					<dd>- An online news portal using MVC framework in C# (EAD) that keeps you aware of all the latest news.</dd>
					<dt>8 Puzzle Solver (Artificial Intelligence)</dt>
  					<dd>- A program written in C++ which can solve the 8 puzzle with any configuration provided.</dd>
				</dl>
			    
			    </div>
	    </article><!--//about-section-->
	    
	    <section class="cta-section theme-bg-light py-5">
		    <div class="container text-center">
			    <h2 class="heading">Newsletter</h2>
			    <div class="intro">Welcome to my blog. Subscribe and get my latest blog post in your inbox.</div>
			    <form class="signup-form form-inline justify-content-center pt-3">
                    <div class="form-group">
                        <label class="sr-only" for="semail">Your email</label>
                        <input type="email" id="semail" name="semail1" class="form-control mr-md-1 semail" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
		    </div><!--//container-->
	    </section>
{% endblock %}	

