h1 a, h2 a {
    color:#8E44AD;
    font-family: 'fangsong';
}

.page-header {
    background-color:#DEB4EF ;
    margin-top: 0;
    padding: 20px 15px 20px 15px;
    font-family: 'Brush Script MT';
    text-align: center;
}

.post {
    margin-bottom: 70px;
    padding-left: 15px;
    padding-right: 30px;
    
}

.date {
    font-style: italic;
}
.content{
    background-color: #FCF8FE ;
}
